@import './utils/_variables.scss';
@import './_base.scss';
@import './utils/_utils.scss';
@import './utils/_text-brand.scss';

@import './components/_buttons.scss';
@import './components/_links.scss';
@import './layouts/_forms.scss';
@import './layouts/_mobile-menu.scss';

/* Section */

@import './components/_section.scss';

// Container

@import './components/_container.scss';

/* Logo */

@import './components/_logo.scss';

/* Header */

@import './layouts/_header.scss';

/* Hero section */

@import './layouts/_hero-section.scss';

/* Advantages */

@import './layouts/_advantages-section.scss';

/* Traditions-section */

@import './layouts/_traditions-section.scss';

/* Chefs section */

@import './layouts/_chefs-section.scss';
@import './components/_chef-card.scss';

/* Formats  */

@import './layouts/_formats-section.scss';
@import './components/_format-card.scss';

/* Slider */

@import './components/_slider.scss';

/* Contact section */

@import './layouts/_contact-section.scss';

/* Footer */

@import './layouts/_footer.scss';

/* Modal */

@import './layouts/_modal.scss';

