* {
    box-sizing: border-box;
}

.parent {
    border: 1px solid black;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item.red {
    width: 150px;
    height: 150px;
    background-color: red;
    transition: background-color 2s, transform 2s , color 2s, scale 2s;
    transition-delay: 0s, 0s, 0s, 2s

    /* transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-out; */
}

.item.red:hover {
    background-color: gold;
    color: black;
    transform: translate(20px, 40px);    
    scale: 1.5;
}

.item.green {
    width: 100px;
    height: 100px;
    background-color: green;
    /* transform: rotate(45deg); */
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);

    }

    100% {
      transform: rotate(360deg);

    }
    
}

.item.blue {
    width: 50px;
    height: 50px;
    background-color: blue;
    transform: scale(3);
}

.item.orange {
    width: 150px;
    height: 150px;
    background-color: orange;
    transform: translate(3px, 17px ) skew(20deg, 10deg);
}


