.text-brand {
    color: var(--color-brand);
}

.text-brand-dark {
    color: var(--color-brand-dark);
}

.text-bold {
    font-weight: 600;
}

.text-uppercase {
    font-weight: 600;
    text-transform: uppercase;
} 