:root{
    --color-brand:#819B57;
    --color-brand-pimary-dark:#31261A;
    --color-brand-primary-light:#FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #CFCFBC;
    --color-brand-brown: #A18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;