.button {
    display: block;
    width: 248px;
    height: 59px;
    font-weight: 600;    
    font-size: 18px;
    border-width: 2px;
    border-radius: 8px;
    color: var(--color-brand-primary-light);
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    cursor: pointer;
    padding: 16px 32px;
    margin: 10px; 
}

.button:hover {
    background-color: white;
    color: var(--color-brand-dark);
}