.format-card {
    position: relative;
    width: 349px;
    height: 444px;
    border-radius: 16px;
    padding: 24px;
    // border: 2px solid black;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1;

    
    &__title {
        color: var(--color-brand-primary-light);
        font-size: 24px;
        font-weight: 600;
    }
    
    &__description {
        position: absolute;
        bottom: 100;
        // left: 0;
        // right: 0;
        color: var(--color-brand-primary-light);
        position: relative;
        font-size: 16px;
        font-weight: 300;
    }
    
    &__image {
        position: absolute;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        object-fit: cover;
    }
}

