.contact-section {
    padding-bottom: 96px;
}

.contact-title {
    margin-bottom: 16px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-p {
    font-size: 18px;
    font-weight: 300;
    font-family: Poppins, sans-serif;
    color: var(--color-brand-dark);
}

.contact-map {
    border-radius: 10px;
    flex-shrink: 0;
}