.contact-section {
    padding-bottom: 96px;
    
&__title {
    margin-bottom: 16px;
}

&__container {
    display: flex;
    gap: 32px;
}

&__p {
    font-size: 18px;
    font-weight: 300;
    font-family: Poppins, sans-serif;
    color: var(--color-brand-dark);
}

&__map {
    border-radius: 10px;
    flex-shrink: 0;
}

&__form {
    width: 100%;
    height: 100%;
    max-width: 653px;
    max-height: 612px;
}

} 
