.form {
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    justify-content: center;
    align-items: center;
}

.form:focus {
    border-color: var(--color-brand);
}

.input {
    width: 100%;
    height: 100%;
    max-width: 605px;
    max-height: 55px;
    margin-bottom: 32px;
    padding: 16px 42px;
    background-color: transparent;
    border: 1px solid var(--color-brand-brown);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-brand-brown);
    overflow-y: auto;
}

.input::placeholder {
    color: var(--color-brand-brown);
    opacity: 1;
}

.input:focus {
    border-color: var(--color-brand);
    outline: none;
    color: #31261A;
}

.form-field {
    position: relative;
    width: 100%;
}