.formats-section {

&__slider {
    display: flex;
    align-items: center;
    gap: 32px; 
}

&__container {
    overflow: hidden;
}

&__title {
    margin-bottom: 80px;
}

// &__item {
//     flex-basis: calc(100% - 40px) / 3;
// }

// &__list {
//     display: flex;
//     gap: 20px;
//     justify-content: space-between;
//     flex-wrap: wrap; 
//   }
}
