.hero-section {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: linear-gradient(103deg, rgba(18, 18, 17, 0.78) 2.03%, rgba(18, 18, 17, 0.6) 58.46%, rgba(18, 18, 17, 0) 90.36%), url('../images/hero-section-background.jpg');

@media screen and (min-width: $bp-desktop){
  padding: 272px 0px;
}    

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: linear-gradient(
     103deg, 
     rgba(18, 18, 17, 0.78) 2.03%,
     rgba(18, 18, 17, 0.6) 58.46%,
     rgba(18, 18, 17, 0) 90.36%),
    
    url('../images/hero-section-background@2x.jpg');
}

&__title {
    color: var(--color-brand-primary-light);
    text-align: center;
    font-weight: 900;
    line-height: 1;
    font-size: 67px;
    padding: 100px 0px;
    margin-bottom: 40px;

@media screen and (min-width: $bp-desktop) {
    margin-bottom: 28px;
    line-height: 1.5;
    font-size: 128px;
    }
  }

&__button { 
    display: block;
    margin:  auto;

@media screen and (min-width: $bp-desktop) {
    display: none;
  }    
}   
}
 
