.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: opacity 0.4s, visibility 0.4s;

&.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
}


.modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 880px;
    max-height: 880px;    
    padding: 128px;
    background-color: var(--color-brand-primary-light);
    border-radius: 32px;

&::after {
    position: absolute;
    background-image: url('../images/decor-bread-modal.png');
    width: 180px;
    height: 240px;
    background-repeat: no-repeat;
    background-size: 180px 240px;
    bottom: 0;
    right: 0;
    content: '';
}

&__heading {
    text-align: center;
    font-size: 64px;
}

&__p {
    text-align: center;
    font-style: roboto, sans-serif;
    font-weight: 400;
    color: var(--color-brand-dark);
    font-size: 18px;
    margin-bottom: 72px;
}  

&__policy {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin-top: 24px;
    color: var(--color-brand-pimary-dark);
    text-underline-offset: 3px;
}

&__a {
    color: var(--color-brand-pimary-dark);
    text-decoration: underline;
}
}


.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
