.traditions-section {
    padding-top: 96px; 

&__container {
    display: flex;
    justify-content: space-between;
    gap: 140px;
}

&__content {
    display: flex;
    flex-direction: column;
    flex-basis: 711px;
}    

&__title {
    margin-bottom: 42px;
    }

&__text {
    &__limited {
        max-width: 340px;
    
    }
  }
}

.baker-image {
    border-radius: 200px 200px 0 0;
}
